
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RecipientFront</title>
</head>
<body>

    <div> 
        Recipient Page
    </div>
</body>
</html>
